<h3><%= @recipes.name %></h3>
<p>Level: <%=@recipes.level%></p>
<p>Description: <%=@recipes.description%></p>
<p>Ingredients: <%=@recipes.ingredients%></p>
<p>Instructions: <%=@recipes.instructions%></p>