<h3><%= @recipe.name %></h3>
<%= image_tag @recipe.photo.url %>  
<p>Level: <%=@recipe.level%></p>
<p>Description: <%=@recipe.description%></p>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Instructions: <%=@recipe.instructions%></p>