<h3>Welcome <%= @user.name if @user.name %>!</h3>
<h3>Let's get cooking!</h3>

<% form_tag recipes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= button_to "Create a Recipe!", recipes_new_path, :class => "button medium", :method => :get %>

<h3>My Recipes:</h3>
<%recipe = Recipe.where(user_id: @user.id)%>
<%recipe.each do |recipe|%>
	<%name = recipe.name%>	
	<%= link_to name, recipe_path(recipe), :method => "get" %>
	</p>
	<p>Level: <%=recipe.level%></p>
	<p>Description: <%=recipe.description%></p>

	<%= button_to "Edit a Recipe!", recipes_new_path, :class => "button medium", :method => :get %>

<%end%>
